
<div class="container mt-5">
    <h1><%= @goat.name %></h1>
    <% if @goat.image.attached? %>
        <img src="<%= url_for(@goat.image) %>" alt="<%= @goat.name %>" class="img-fluid">
    <% else %>
        <img src="<%= asset_path('default_goat.jpg') %>" alt="<%= @goat.name %>" class="img-fluid">
    <% end %>
    <p>Price per day: $<%= @goat.price_per_day %></p>
    <p><%= @goat.bio %></p>

    <%= link_to 'Book this Goat', new_goat_booking_path(@goat), class: 'btn btn-primary' %>
</div>
