<div class="container mt-5">
   <div class="goat-container">
       <div class="goat-info user-select-none">
     <div>
        <div>
          <h1 class='goat-name'><%= @goat.name %></h1>
          <h6><%= @goat.bio %></h6>
        </div>
        <div id='goat-price' class='text-center'>
          <h2>$</h2>
          <h3><%= @goat.price_per_day %></h3>
          <h4>/day</h4>
        </div>
     </div>
       <% if @goat.image.attached? %>
         <img src="<%= url_for(@goat.image) %>" alt="<%= @goat.name %>" class="big-goat-profile-pic m-5">
       <% else %>
          <img src="<%= asset_path('default_goat.jpg') %>" alt="<%= @goat.name %>" class="big-goat-profile-pic m-5">
       <% end %>
       </div>
           <!-- Booking Form Card -->
    <div id='booking-form'>
      <div class="card sticky-top booking-card">
        <div  class="card-body">
          <h2 class="card-title">Book this Goat</h2>

          <%= simple_form_for([@goat, @booking], html: { class: 'booking-form' }) do |f| %>
            <div class="form-group mb-3">
              <%= f.label :rent_start, 'Start Date' %>
              <%= f.date_field :rent_start, class: 'form-control' %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :rent_end, 'End Date' %>
              <%= f.date_field :rent_end, class: 'form-control' %>
            </div>

            <div class="form-group mb-3">
              <%= f.hidden_field :status, value: 'pending' %>
            </div>

            <div class="form-group d-grid">
              <%= f.submit 'Book Now', class: 'btn btn-primary btn-lg' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
 </div>
